* {
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body {
	background-color: #ffffff; 
}

.logo {
	width: 200px;
	height: 46px;
}

header {
	padding: 28px 0 0 97px;
	margin-bottom: 44px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #03228C;
	background: linear-gradient(#24AC06, #03228C);
	background-clip: text;
	margin-bottom: 60px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	color: #03228C;
}

.section-card__box {
	width: 1248px;
	background-color: #fdfdfd;
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(253, 253, 253, 100%);
	padding-left: 43px;
}

.section-card__descr {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 32px;
}

.section-card__descr-button {
	width: 84px;
	height: 32px;
	border: 1px solid linear-gradient(#24AC06, #03228C);
	border-radius: 32px;
	background-color: #fdfdfd;
	font-size: 14px;
}

.section-card__input {
	width: 452px;
	position:relative;
}

.section-card__input input {
	width: 452px;
	min-height: 90px;
	border: 1px solid #d4d4d4;
	background-repeat: 8px;
	padding: 0 0 12px 15px;
}

.section-card__input-button {
	width: 84px;
	height: 32px;
	background: linear-gradient(#24AC06, #03228C);
	color: #fdfdfd;
	border-radius: 32px;
	border: none;
	font-size: 14px;
	position: absolute;
	left: 15px;
	top: 45px;

}

